[submodule "ark-ecosystem-essential/ark-themeing"]
	path = ark-ecosystem-essential/ark-themeing
	url = https://github.com/koobie777/ark-themeing.git

[submodule "ark-ecosystem-orbital-dock/ARK-Forge"]
	path = ark-ecosystem-orbital-dock/ARK-Forge
	url = https://github.com/koobie777/ARK-Forge.git

[submodule "ark-ecosystem-orbital-dock/ARK-Orbital-Command"]
	path = ark-ecosystem-orbital-dock/ARK-Orbital-Command
	url = https://github.com/koobie777/ARK-Orbital-Command.git
