[submodule "modules/Ark-Forge"]
	path = modules/Ark-Forge
	url = https://github.com/koobie777/ARKFORGE.git
[submodule "modules/ARK-Orbital-Command"]
	path = modules/ARK-Orbital-Command
	url = https://github.com/koobie777/ARK-Orbital-Command.git
